data/intermediate/gene_methylation_matrix.csv
data/intermediate/gene_GO_term_map.csv

data/methylation/train_dmr_matrix_full.csv
data/methylation/test_dmr_matrix_full.csv

data/classification/train_s0.csv
data/classification/test_s0.csv
data/classification/train_s0_prime.csv

pycache/
*.pyc
.vscode/
Thumbs.db